name: Run Laravel Tests

on:
  pull_request:
    branches:
      - main
  pull_request_review:
    types: [submitted]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel
          MYSQL_USER: user
          MYSQL_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, dom, fileinfo, pdo, bcmath, mysql

      - name: Install Composer Dependencies
        working-directory: ./
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Copy test environment
        working-directory: ./
        run: cp .env.testing .env

      - name: Generate Application Key
        working-directory: ./
        run: php artisan key:generate

      - name: Wait for MySQL to be Ready
        run: sleep 15

      - name: Set up Database
        working-directory: ./
        env:
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: laravel
          DB_USERNAME: user
          DB_PASSWORD: password
        run: |
          php artisan vendor:publish --provider="Spatie\Permission\PermissionServiceProvider"
          php artisan migrate --force

      - name: Run Tests
        working-directory: ./
        env:
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: laravel
          DB_USERNAME: user
          DB_PASSWORD: password
          ALLOW_ROLE_SELF_ASSIGNMENT: true
        run: php artisan test
